{% extends 'posts/base.html' %}
{% block content %}
<!-- Begin register content block -->

<!-- Display the registration header -->
<h2>Register</h2>

<!-- Begin registration form -->
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <!-- Render registration form fields -->
  <div class="mb-3">
    {{ form.username.label_tag }} 
    {{ form.username }}
    {{ form.username.errors }}
  </div>
  <div class="mb-3">
    {{ form.first_name.label_tag }} 
    {{ form.first_name }}
    {{ form.first_name.errors }}
  </div>
  <div class="mb-3">
    {{ form.last_name.label_tag }} 
    {{ form.last_name }}
    {{ form.last_name.errors }}
  </div>
  <div class="mb-3">
    {{ form.email.label_tag }} 
    {{ form.email }}
    {{ form.email.errors }}
  </div>
  <div class="mb-3">
    {{ form.password1.label_tag }} 
    {{ form.password1 }}
    {{ form.password1.errors }}
  </div>
  <div class="mb-3">
    {{ form.password2.label_tag }} 
    {{ form.password2 }}
    {{ form.password2.errors }}
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}